<div class="text-light mb-5">
  <h1 class="ia-title">
	  <i class="bi bi-capsule-pill"></i>
	  iA Coding Challenge
	  <i class="bi bi-capsule-pill"></i>
  </h1> <hr />
  <p class="fs-5">
	This program is designed to accept a location as a pair of coordinates adjusted by the input fields below. After pressing the button, the program will return a list of the
	three closest central fill facilities from a random seed, along with the cheapest medication price for each
	central fill.
  </p>
</div>


@code {

}
