<div class="navbar navbar-expand-lg navbar-ia">
    <div class="container">
        <span class="navbar-brand text-light" href="">iACodingChallenge</span>
    <span class="navbar-text text-light">
      Developed by: <a href="https://github.com/elderyouth">@@elderyouth</a>
    </span>
    </div>
</div>
